<div class="d-flex justify-content-center">
    <form class="form-inline my-2 my-lg-0" >
        <input id='input' [value]='searchTerm' name="searchTerm" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<button (click)="ricerca('')">cerca</button>

<div id="res-cont" *ngFor="let vendor of r">
    <a id="result" href="{{vendor.website}}">
        <img src="{{vendor.website}}/favicon.ico" style="width: 16px; height: 16px;"> {{vendor.name}}
        <br>
    </a>
</div>