<div class="d-flex justify-content-center">
    <form class="form-inline my-2 my-lg-0" ng-submit="ricerca(userForm.value.search)" action="#">
        <input id='input' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<button (click)="ricerca('')">cerca</button>


<div id="results">
    <img src="{{r[0].website}}/favicon.ico">
    <p >{{r[0].name}}</p>
</div>